/* ----------Google Fonts Added---------- */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Work Sans", serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  border: 1px solid red;
  font-family: "Work Sans", serif;
}

#hide {
  display: none;
}

/* ------------------------------Shared Styles Start Here------------------------------ */

.display-flex {
  display: flex;
}

/* ----------Text Center---------- */
.text-center {
  text-align: center;
}

/* ----------Section Title Styles Added---------- */
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 53px;
  color: rgb(19, 19, 19);
}

/* ----------h5 Section Title Styles Added---------- */
.h5-section-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 23px;
  color: rgb(19, 19, 19);
}

/* ----------Section Description Styles Added---------- */
.section-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  color: rgb(114, 114, 114);
}

/* ----------Features Section Description Styles Added---------- */
.features-section-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-top: 10px;
  color: rgb(114, 114, 114);
}

/* ----------Primary Button Styles Added---------- */
.primary-btn {
  display: block;
  text-decoration: none;
  background-color: rgb(255, 144, 14);
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 23px;
  padding: 20px 25px;
  border-radius: 8px;
}

/* ------------------------------Shared Styles End's Here------------------------------ */

/* ----------Navbar Styles Added---------- */
.navbar {
  max-width: 1440px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 50px;
}

.brand-name {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 53px;
  cursor: pointer;
}
.brand-color-1 {
  color: rgb(114, 114, 114);
}
.brand-color-2 {
  color: rgb(255, 144, 14);
}

.nav-links {
  list-style: none;
  align-items: center;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: rgb(66, 66, 66);
  margin-left: 50px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 26px;
}

/* ----------Heading Section Styles Added---------- */
header {
  border: 1px solid blue;
  background-color: rgba(255, 144, 14, 0.1);
  max-width: 1920px;
  height: 1322px;
  margin: 0 auto;
  margin-bottom: 85px;
}

/* ----------Banner Section Styles Added---------- */
.banner {
  max-width: 1440px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}

/* ----------Banner Text Styles Added---------- */
.banner-texts {
  max-width: 862px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 75px;
}

/* ----------Banner Button and Image Styles Added---------- */
.banner-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-img {
  max-width: 1440px;
  height: 700px;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 50px;
}

.banner-img img {
  width: 100%;
  height: auto;
  display: block;
}

/* --------------------Main Section Styles Added-------------------- */
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* ----------Our Features Section Styles Added---------- */
.features {
  border: 1px solid goldenrod;
  margin-bottom: 130px;
  align-items: center;
  justify-content: space-evenly;
}

/* -----Our Features Image Styles Added----- */
.feature-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.feature-image-container img {
  width: 100%;
}

/* -----Our Features Text Styles----- */
.our-feature {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.feature-title {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 53px;
}

.color-1 {
  color: rgb(114, 114, 114);
  font-weight: 500;
}
.color-2 {
  color: rgb(255, 144, 14);
}

.feature-description {
  margin-bottom: 32px;
}

/* ----------Love and Enjoy Section Styles Added---------- */

.love-and-enjoy {
  border: 1px solid blue;
  margin-bottom: 130px;
  justify-content: space-between;
}

/* -----Text Container Styles Added----- */
.text-container {
  margin-top: 39px;
  margin-bottom: 38px;
}

.features-title {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 53px;
  color: rgb(19, 19, 19);
  padding-left: 21px;
  border-left: 5px solid rgb(255, 144, 14);
}
.features-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  color: rgb(114, 114, 114);
  margin-top: 24px;
  margin-bottom: 30px;
}
.feature-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.feature-item {
  margin-top: 20px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

/* -----Feature Image Container Styles Added----- */
.image-container {
  flex-direction: column;
  align-items: start;
}
.image-container img {
  width: 100%;
}

/* -----Features Button Styles Added----- */
.feature-btn {
  background-color: rgb(255, 144, 14);
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 40px;
  padding: 45px 42px;
  border-radius: 8px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: -18%;
  margin-left: -13%;
}
.big-btn {
  font-size: 4rem;
  font-weight: 700;
  line-height: 70px;
}

/* ------------------------------Responsive Media Query Added------------------------------ */

/* --------------------Mobile/Small Device Responsive Added-------------------- */
@media screen and (max-width: 576px) {
  /* -----Heading Section Mobile Responsive Added----- */
  .navbar,
  .nav-links,
  .features {
    flex-direction: column;
  }

  .brand-name {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 20px;
  }

  .nav-links {
    gap: 10px;
  }

  .banner-title {
    font-size: 3.2rem;
  }

  .banner-description {
    padding: 10px;
  }

  /* -----Features Section Mobile Responsive Added----- */
  .features {
    flex-direction: column-reverse;
  }
  .our-feature {
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
  .feature-image-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* -----Love and Enjoy Section Mobile Responsive Added----- */
  .love-and-enjoy {
    flex-direction: column-reverse;
  }
  .image-container {
    align-items: center;
    flex-direction: column;
  }
  .feature-btn {
    padding: 25px 22px;
  }
}

/* --------------------Medium/Tablet Device Responsive Added-------------------- */
@media screen and (min-width: 577px) and (max-width: 992px) {
  /* -----Heading Section Tablet Responsive Added----- */
  .brand-name {
    font-size: 2.5rem;
  }
  .nav-link {
    margin-left: 25px;
  }
  .banner-title {
    font-size: 3.5rem;
  }

  /* -----Features Section Tablet Responsive Added----- */
  .features {
    flex-direction: column-reverse;
  }
  .our-feature {
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
  .feature-image-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* -----Love and Enjoy Section Tablet Responsive Added----- */
  .love-and-enjoy {
    flex-direction: column-reverse;
  }
  .features-title {
    text-align: center;
  }
  .features-description {
    text-align: center;
  }
  .image-container {
    align-items: center;
    flex-direction: column;
  }
  .feature-btn {
    padding: 35px 32px;
  }
  .feature-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
